<!DOCTYPE html>
{% load bootstrap3 %}
<html>
    <head>
        <meta charset="utf-8">
        <title>Tiny Blog</title>
        <link rel="stylesheet" href="http://cdn.bootcss.com/twitter-bootstrap/3.0.3/css/bootstrap.min.css">
        <script src="http://cdn.bootcss.com/jquery/1.10.2/jquery.min.js"></script>
        <script src="http://cdn.bootcss.com/twitter-bootstrap/3.0.3/js/bootstrap.min.js"></script>
        {% bootstrap_messages %}
    </head>
    <body>
        <div class="container">
            <div class="row">
                <h2>
                    <a href="{% url 'home_view' %}">
                        Tiny Blog of Django-Simditor
                    </a>
                    <hr/>
                </h2>
                <center>
                    <div class="btn-group">
                        <a href="{% url 'create_blog_view' %}" type="button" class="btn btn-link">Create new blog  </a>
                        <a href="https://github.com/mycolorway/simditor" type="button" class="btn btn-link">Simditor@Github</a>
                        <a href="http://tower.im" type="button" class="btn btn-link">Tower.im</a>
                        <a type="button" class="btn btn-link">Fork me on Github</a>
                        <a href="http://wizmann.tk" type="button" class="btn btn-link">Wizmann.tk       </a>
                    </div>
                </center>
            </div>
            <div class="row">
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </body>
</html>
